@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  background-color: white;
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(100, 156, 156);
  justify-content: space-around;
}

.loginMainContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  position: relative;
  bottom: -2em;
}

.input {
  /* border-bottom: 1px solid rgb(100, 156, 156); */
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 0.5em;
  font-family: "Press Start 2P", cursive;
  outline-color: rgb(100, 156, 156);
  /* border-radius: 1em; */
  box-shadow: 0 0.188em 1em rgb(100, 156, 156);
  padding: 1em;
}

.registerBtn {
  width: fit-content;
  height: 3em;
  background-color: #4c7faf;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border-radius: 0.75em;
  cursor: pointer;
  color: aliceblue;
  transform: scale(0.75);
}

.registerBtn:hover {
  transform: scale(0.9);
}

.inputsContainer {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  color: aliceblue;
}

.error {
  color: red;
  font-size: 0.7em;
}
